html {
  font-family: Verdana, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  color: #fff;
  text-shadow: 1px 2px 4px rgb(28, 14, 0);
}

figcaption {
  font-family: Georgia, serif;
}

img {
  border-top: 2px solid #bea586;
}

.bottom {
  border-bottom: 2px solid #bea586;
}
